<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:text="${user.name}"></p> 
    <p th:text="${user.lastName}"></p>
    <button><a th:href="@{/list}">ver listado</a></button>
    <button><a th:href="@{'/api/params/foo?message=' + ${title}}">ver mensaje</a></button>
    <button><a th:href="@{/api/params/bar(text='Hola que tal el festival', code = 32323)}">ver bar mix 2</a></button>
    <button><a th:href="@{/api/var/baz/Hola algun mensaje}">ver var path variable</a></button>
</body>
</html>